/* .container{
  width:auto;
} */

#create-user {
  text-align: center;
}

#card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /* width: 100%; */
  /* grid-template-columns: 1fr; */
  /* grid-template-rows: auto;
  grid-gap: 40px; */ */ */
  padding-top: 20px;
  padding-bottom: 30px;
}

#collections-container {
  display: flex;
  width: 100%;
}

.image-rendered {
  padding-top: 20px;
  padding-left: 30px;
  /* text-align: center; */
  height: 400px;
  width: 275px;
  border-radius: 5px;
}

.card-form-container {
  margin-top: 20px;
  padding: 1rem;
  /* height: auto; */
  display: none;
  background: #515DA2;
  opacity: .8;
  box-shadow: 10px 10px grey;
  border-radius: 10px;
  /* text-align: center; */
  width: auto;
  height: 100px;
}

.comment-box{
  margin-left: 20px;
  border: 2px solid grey;
  border-radius: 10px;
}

/* The flip box container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-box {
  background-color: transparent;
  width: 300px;
  height: 450px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */

}

/* This container is needed to position the front and back side */
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-box-front {
  background-color: #bbb;
  border-radius: 10px;
  /* color: black; */
}

/* Style the back side */
.flip-box-back {
  background-color: white;
  color: white;
  transform: rotateY(180deg);
  border-radius: 10px;
}

/* .sign-in {
text-align: center;
} */

html,body{
  height:100%;
}

/* Button styling*/
body{
  text-align:center;
  background-color: #eeeeee;
}

.submitted-user:before{
  content:'';
  height:100%;
  display:inline-block;
  vertical-align:middle;
}

.submitted-user{
  font-family: 'Anton', sans-serif;
  background:#1AAB8A;
  color:#fff;
  border:none;
  position:relative;
  height:40px;
  font-size: 20px;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  border-radius: 10px;
}
.submitted-user:hover{
  background:#fff;
  color:#1AAB8A;
}
.submitted-user:before,.submitted-user:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #1AAB8A;
  transition:400ms ease all;
}
.submitted-user:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.submitted-user:hover:before,.submitted-user:hover:after{
  width:100%;
  transition:800ms ease all;
}
/*END BUTTON STYLING */

/*FORM STYLING*/
.collection-reviewer{
  font-family: 'Anton', sans-serif;
  font-size: 40px;
  color: white;
}

.fash-week{
  font-size: 100px;
  font-family: 'Anton', sans-serif;
}

#sign-up-form {
  background-image: url("images/Rodarte_Index.jpg");
  height: 800px;
}

.kenburns-top {
	-webkit-animation: kenburns-top 5s ease-out both;
	        animation: kenburns-top 5s ease-out both;
} */

/* ----------------------------------------------
 * Generated by Animista on 2018-11-15 15:48:1
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation kenburns-top
 * ----------------------------------------
 */
 @-webkit-keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
            transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
            transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
}
@keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
            transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
            transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
}



/*END FORM STYLING*/

.input-username{
  margin-top: 40px;
  margin-bottom: 30px;
  border-radius: 10px;
  padding: 20px;
}

.collection-header {
font-family: 'Allerta Stencil', sans-serif;
margin: 10px;
width: 25%;
}


.collection-season{
  font-size: 30px;
  background-color: #7b7484;
  border-radius: 5px;
}

/*CARD STYLING*/
.likes{
  font-family: 'Allerta Stencil', sans-serif;
  background-color: grey;
  border-radius: 5px;
  margin-right: 40px;
  margin-left: 40px;
}

.comment-button {
font-family: 'Allerta Stencil', sans-serif;
height: 50px;
border-radius: 10px;
margin-bottom: 20px;
}

.add-a-comment-title{
  font-family: 'Anton', sans-serif;

}

.delete-comment{
  margin-top: 30px;
  margin-bottom: 20px;
}

.comment_id {
  font-family: 'PT Sans', sans-serif;
  border-radius: 5px;
  border: 5px solid grey;
  background-color: grey;
  margin-right: 20%;
  margin-left: 20%;
  margin-bottom: 20px;
  margin-top: 20px;
  background-color: #7b7484;
}

.individual-card{
  background-color: #eeeeee;
  height: auto;
  width: 400px;
  box-shadow: 10px 10px grey;
  padding: 10px;
  border-radius: 10px;
  perspective: 1000px;
  margin: 10px;
}

.card-collection-detail {
  font-family: 'Allerta Stencil', sans-serif;
  background-color: #7b7484;
  color: black;
  font-size: 20px;
}

/*FOR CARD TEXT ON BACK OF CARDS*/
.text-shadow-pop-bl {
	-webkit-animation: text-shadow-pop-bl 0.6s both;
	        animation: text-shadow-pop-bl 0.6s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2018-11-15 16:9:40
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-shadow-pop-bl
 * ----------------------------------------
 */
@-webkit-keyframes text-shadow-pop-bl {
  0% {
    text-shadow: 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555;
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    text-shadow: -1px 1px #555555, -2px 2px #555555, -3px 3px #555555, -4px 4px #555555, -5px 5px #555555, -6px 6px #555555, -7px 7px #555555, -8px 8px #555555;
    -webkit-transform: translateX(8px) translateY(-8px);
            transform: translateX(8px) translateY(-8px);
  }
}
@keyframes text-shadow-pop-bl {
  0% {
    text-shadow: 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555;
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    text-shadow: -1px 1px #555555, -2px 2px #555555, -3px 3px #555555, -4px 4px #555555, -5px 5px #555555, -6px 6px #555555, -7px 7px #555555, -8px 8px #555555;
    -webkit-transform: translateX(8px) translateY(-8px);
            transform: translateX(8px) translateY(-8px);
  }
}
